<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.jordicuestand.amazing"
	version 	= "99.9.9">

	<name>Jordi's Amazing App</name>

	<description>
	       The Jordi's Amazing App
	</description>

	<author href="http://alunny.github.com"
		email="andrew.lunny@nitobi.com">
		Andrew Lunny
	</author>

	<icon src="icon.png" gap:role="default" />

	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/network"/>

	<preference name="orientation" value="portrait" />
</widget>
